aclocal.m4
autom4te.cache/
config.guess
config.sub
config.log
config.status
configure
ltmain.sh
libtool
Makefile
DEPENDANCES
.depend
MTI-clients.pc
.libs/
obj*
*.o
*.lo
*.la
.cproject
.project
test/MTIHardTest